<% var data = jsonData %><!DOCTYPE html>
<html lang="ja">
<head>
    <% var title = data.title+' | Akira HIRATA' %>
    <% include _head %>
    <link rel="stylesheet" href="styles/lib/jquery.flipster.min.css">
    <link rel="stylesheet" href="styles/main.min.css">
</head><body>

    <div class="wrap">

        <!-- header -->
        <header>
            <h1><a href="./index.html">Akira HIRATA</a></h1>
            <nav><ul>
                <li><a href="./index.html" class="current">WORKS</a></li>
                <li><a href="./about.html">ABOUT</a></li>
                <li><a href="./contact.html">CONTACT</a></li>
            </ul></nav>
        </header>

        <!-- content -->
        <div id="fade"><a href="./index.html" id="close"><img src="images/close.svg" alt="close"></a><br>
        <div class="white-box">

            <div class="left-box my-flipster"><ul>
                <% for( var i=0; i<data.numImg; i++ ){ %>
                <li data-flip-title="●"><img src="images/works/<%= data.id %>_<%= i+1 %>.jpg"></li>
                <% } %>
                <% if(data.tube){ %>
                <li data-flip-title="●"><iframe width="360" height="240" src="<%= data.tube %>" frameborder="0" allowfullscreen></iframe></li>
                <% } %>
            </ul></div>
            <div id="loader"><img src="images/load.svg" alt="loader"></div>

            <div class="right-box">
                <h3>
                    <%= data.title %>
                    <% if(data.link){ %><a href="<%= data.link %>" target="blank">LINK&raquo;</a><% } %>
                </h3>
                <span><%= data.date %></span>
                <p><%- data.desc %></p>
                <ul>
                    <% data.tech.forEach(function(val){ %>
                    <li><%= val %></li>
                    <% }); %>
                </ul>
            </div>

        </div></div><!-- / .fade .white-box -->

        <!-- Footer-->
        <footer><a id="gotop" href="#top" title="上へスクロール">▲</a>
            <p><small>© Akira HIRATA 2015 - 2017</small></p>
        </footer>

    </div><!-- /wrap -->

    <!-- Scripts -->
    <script src="scripts/lib/jquery.flipster.min.js"></script>
    <script src="scripts/main.min.js"></script>
    <!-- Adobe Typekit -->
    <script src="https://use.typekit.net/hrs2dxq.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</body>
</html>
